.room {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.room-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room-button--create {
    padding: .5rem 1rem;
    background-color: var(--pink);
    border-radius: 10px;
    color: #fff;
    box-shadow: var(--boxShadow);
    transition: all .5s;
    margin-right: 10px;
}

.room-button--create:hover {
    transform: scale(1.1);
}

.room-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.room-header-container .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: .5rem 1rem;
}